apps/n8n/workflow-gemini.json
{
  "name": "EDIFICIA - Generación IA (Gemini)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generar-memoria-gemini",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 340],
      "webhookId": "generar-memoria-gemini"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// Validate X-Edificia-Auth header\n// The expected secret comes from the n8n environment variable EDIFICIA_API_SECRET,\n// which must match the AI__ApiSecret value configured in the .NET backend.\n// ─────────────────────────────────────────────\nconst items = $input.all();\nconst headers = items[0].json.headers;\nconst expectedSecret = $env.EDIFICIA_API_SECRET;\nconst receivedSecret = headers['x-edificia-auth'];\n\nif (!expectedSecret) {\n  throw new Error('EDIFICIA_API_SECRET environment variable is not configured in n8n.');\n}\n\nif (!receivedSecret || receivedSecret !== expectedSecret) {\n  return [{ json: { isValid: false } }];\n}\n\n// Auth OK — pass through the request body\nconst body = items[0].json.body;\nreturn [{ json: { isValid: true, ...body } }];"
      },
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Validate Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-auth-valid",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "Auth Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 340]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ error: 'Forbidden', message: 'Invalid or missing X-Edificia-Auth header' }) }}",
        "options": {
          "responseCode": 403,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
      "name": "Respond 403",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 500]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// Build the prompt for Gemini from EDIFICIA request data.\n// Input: AiGenerationRequest fields (sectionCode, projectType, technicalContext, userInstructions)\n// Output: Gemini API request body ready to POST\n// ─────────────────────────────────────────────\nconst input = $input.first().json;\nconst sectionCode = input.sectionCode;\nconst projectType = input.projectType;\nconst context = input.technicalContext || {};\nconst userInstructions = input.userInstructions || '';\n\n// ── System Prompt (CTE/LOE architect role) ──\nconst systemPrompt = [\n  'Eres un arquitecto técnico experto en redacción de memorias de proyectos de construcción en España,',\n  'siguiendo el Código Técnico de la Edificación (CTE) y la Ley de Ordenación de la Edificación (LOE).',\n  'Genera contenido técnico profesional, preciso y bien estructurado.',\n  'Responde siempre en español y en formato HTML limpio, sin envolver en bloques de código markdown.',\n  'No incluyas encabezados <h1> ni <h2> del título de la sección; comienza directamente con el contenido.'\n].join(' ');\n\n// ── User Prompt (dynamic from project data) ──\nconst lines = [\n  `Genera el contenido para la sección \"${sectionCode}\" de una memoria de proyecto.`,\n  `Tipo de proyecto: ${projectType}`\n];\n\nif (context.projectTitle)\n  lines.push(`Título del proyecto: ${context.projectTitle}`);\nif (context.interventionType)\n  lines.push(`Tipo de intervención: ${context.interventionType}`);\nif (context.isLoeRequired !== undefined && context.isLoeRequired !== null)\n  lines.push(`LOE requerida: ${context.isLoeRequired ? 'Sí' : 'No'}`);\nif (context.address)\n  lines.push(`Ubicación: ${context.address}`);\nif (context.localRegulations)\n  lines.push(`Normativa local aplicable: ${context.localRegulations}`);\nif (context.existingContent)\n  lines.push(`\\nContenido existente a mejorar/completar:\\n${context.existingContent}`);\nif (userInstructions)\n  lines.push(`\\nInstrucciones adicionales del usuario: ${userInstructions}`);\n\nconst userPrompt = lines.join('\\n');\n\n// ── Gemini API request body ──\nconst requestBody = {\n  contents: [\n    { role: 'user', parts: [{ text: userPrompt }] }\n  ],\n  systemInstruction: {\n    parts: [{ text: systemPrompt }]\n  },\n  generationConfig: {\n    temperature: 0.7,\n    maxOutputTokens: 4096\n  }\n};\n\nreturn [{ json: { requestBody, sectionCode } }];"
      },
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{ $env.GEMINI_MODEL || 'gemini-2.0-flash' }}:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
      "name": "Call Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 180]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// Format the Gemini API response into the EDIFICIA N8nAiResponse contract:\n// { generatedText: string, usage?: { model: string, tokens: number } }\n// ─────────────────────────────────────────────\nconst response = $input.first().json;\nconst candidates = response.candidates || [];\n\nlet generatedText = '';\nif (candidates.length > 0 && candidates[0].content && candidates[0].content.parts) {\n  generatedText = candidates[0].content.parts.map(p => p.text || '').join('');\n}\n\n// Strip markdown code fences if the model wraps output in ```html ... ```\ngeneratedText = generatedText\n  .replace(/^```html\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/\\s*```$/i, '')\n  .trim();\n\nconst usageMetadata = response.usageMetadata || {};\nconst promptTokens = usageMetadata.promptTokenCount || 0;\nconst outputTokens = usageMetadata.candidatesTokenCount || 0;\n\nreturn [{\n  json: {\n    generatedText: generatedText,\n    usage: {\n      model: $env.GEMINI_MODEL || 'gemini-2.0-flash',\n      tokens: promptTokens + outputTokens\n    }\n  }\n}];"
      },
      "id": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 180]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "b8c9d0e1-f2a3-4b4c-5d6e-7f8a9b0c1d2e",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 180]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Auth": {
      "main": [
        [
          {
            "node": "Auth Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Valid?": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 403",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Call Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "edificia-gemini-v1",
  "meta": {
    "instanceId": "edificia",
    "templateCredsSetupCompleted": false
  },
  "tags": [
    { "name": "edificia" },
    { "name": "ai" },
    { "name": "gemini" }
  ]
}
