apps/n8n/workflow-flux.json
{
  "name": "EDIFICIA - Generación IA (Flux Gateway)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generar-memoria",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 340],
      "webhookId": "generar-memoria-flux"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// Validate X-Edificia-Auth header\n// The expected secret comes from the n8n environment variable EDIFICIA_API_SECRET,\n// which must match the AI__ApiSecret value configured in the .NET backend.\n// ─────────────────────────────────────────────\nconst items = $input.all();\nconst headers = items[0].json.headers;\nconst expectedSecret = $env.EDIFICIA_API_SECRET;\nconst receivedSecret = headers['x-edificia-auth'];\n\nif (!expectedSecret) {\n  throw new Error('EDIFICIA_API_SECRET environment variable is not configured in n8n.');\n}\n\nif (!receivedSecret || receivedSecret !== expectedSecret) {\n  return [{ json: { isValid: false } }];\n}\n\n// Auth OK — pass through the request body\nconst body = items[0].json.body;\nreturn [{ json: { isValid: true, ...body } }];"
      },
      "id": "2b3c4d5e-6f7a-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Validate Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-auth-valid",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3c4d5e6f-7a8b-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "Auth Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 340]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ error: 'Forbidden', message: 'Invalid or missing X-Edificia-Auth header' }) }}",
        "options": {
          "responseCode": 403,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "4d5e6f7a-8b9c-4d0e-1f2a-3b4c5d6e7f8a",
      "name": "Respond 403",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 500]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// Build the prompt for Flux Gateway from EDIFICIA request data.\n// Input: AiGenerationRequest fields (sectionCode, projectType, technicalContext, userInstructions)\n// Output: systemPrompt + userPrompt strings for the OpenAI-compatible chat API\n// ─────────────────────────────────────────────\nconst input = $input.first().json;\nconst sectionCode = input.sectionCode;\nconst projectType = input.projectType;\nconst context = input.technicalContext || {};\nconst userInstructions = input.userInstructions || '';\n\n// ── System Prompt (CTE/LOE architect role) ──\nconst systemPrompt = [\n  'Eres un arquitecto técnico experto en redacción de memorias de proyectos de construcción en España,',\n  'siguiendo el Código Técnico de la Edificación (CTE) y la Ley de Ordenación de la Edificación (LOE).',\n  'Genera contenido técnico profesional, preciso y bien estructurado.',\n  'Responde siempre en español y en formato Markdown enriquecido (GFM), correctamente construido.',\n  'Incluye listas, tablas y enlaces técnicos cuando aporten valor; para fórmulas usa notación LaTeX en línea ($...$) o en bloque ($$...$$).',\n  'No devuelvas HTML ni bloques de código con triple backticks.',\n  'No incluyas encabezados H1/H2 del título de la sección; comienza directamente con el contenido.'\n].join(' ');\n\n// ── User Prompt (dynamic from project data) ──\nconst lines = [\n  `Genera el contenido para la sección \"${sectionCode}\" de una memoria de proyecto.`,\n  `Tipo de proyecto: ${projectType}`\n];\n\nif (context.projectTitle)\n  lines.push(`Título del proyecto: ${context.projectTitle}`);\nif (context.interventionType)\n  lines.push(`Tipo de intervención: ${context.interventionType}`);\nif (context.isLoeRequired !== undefined && context.isLoeRequired !== null)\n  lines.push(`LOE requerida: ${context.isLoeRequired ? 'Sí' : 'No'}`);\nif (context.address)\n  lines.push(`Ubicación: ${context.address}`);\nif (context.localRegulations)\n  lines.push(`Normativa local aplicable: ${context.localRegulations}`);\nif (context.existingContent)\n  lines.push(`\\nContenido existente a mejorar/completar:\\n${context.existingContent}`);\nif (userInstructions)\n  lines.push(`\\nInstrucciones adicionales del usuario: ${userInstructions}`);\n\nlines.push('\\nFormato de salida obligatorio: Markdown enriquecido (GFM) válido, sin HTML y sin triple backticks.');\n\nconst userPrompt = lines.join('\\n');\n\nreturn [{ json: { systemPrompt, userPrompt, sectionCode } }];"
      },
      "id": "5e6f7a8b-9c0d-4e1f-2a3b-4c5d6e7f8a9b",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FLUX_BASE_URL }}/auth/app",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ client_id: $env.FLUX_CLIENT_ID, client_secret: $env.FLUX_CLIENT_SECRET }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "6f7a8b9c-0d1e-4f2a-3b4c-5d6e7f8a9b0c",
      "name": "Login Flux",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 180]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// Build the OpenAI-compatible chat completions request body.\n// Combines:\n//   - Bearer token from Login Flux response ($input)\n//   - System & user prompts from Build Prompt node ($('Build Prompt'))\n// ─────────────────────────────────────────────\nconst loginResponse = $input.first().json;\nconst token = loginResponse.token;\n\nif (!token) {\n  throw new Error('Failed to obtain access token from Flux Gateway login. Check credentials.');\n}\n\nconst promptData = $('Build Prompt').first().json;\n\nconst chatBody = {\n  model: $env.FLUX_MODEL || 'flux-pro',\n  messages: [\n    { role: 'system', content: promptData.systemPrompt },\n    { role: 'user', content: promptData.userPrompt }\n  ],\n  temperature: 0.7,\n  max_tokens: 4096\n};\n\nreturn [{\n  json: {\n    token,\n    chatBody,\n    sectionCode: promptData.sectionCode\n  }\n}];"
      },
      "id": "7a8b9c0d-1e2f-4a3b-4c5d-6e7f8a9b0c1d",
      "name": "Build Chat Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FLUX_BASE_URL }}/api/v1/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.chatBody) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "8b9c0d1e-2f3a-4b4c-5d6e-7f8a9b0c1d2e",
      "name": "Chat Completions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 180]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// Format the Flux Gateway response into the EDIFICIA N8nAiResponse contract:\n// { generatedText: string, usage?: { model: string, tokens: number } }\n// Supports responses with { content, usage, model_used, provider } or OpenAI-like choices\n// ─────────────────────────────────────────────\nconst response = $input.first().json || {};\n\n// Prefer explicit `content` field (Flux OpenAPI / simple response)\nlet generatedText = response.content || '';\n\n// Fallback to OpenAI-style choices (compatibility)\nconst choices = response.choices || [];\nif (!generatedText) {\n  if (choices.length > 0 && choices[0].message) {\n    generatedText = choices[0].message.content || '';\n  } else if (Array.isArray(response.messages) && response.messages.length > 0) {\n    generatedText = response.messages[0].content || '';\n  }\n}\n\n// Strip markdown code fences if the model wraps output in ```markdown ... ``` or similar\ngeneratedText = (generatedText || '')\n  .replace(/^```[a-z0-9_-]*\\s*/i, '')\n  .replace(/\\s*```$/i, '')\n  .trim();\n\n// Determine model and tokens if available\nconst model = response.model_used || response.model || $env.FLUX_MODEL || 'flux';\nconst totalTokens = response.usage?.total_tokens || response.usage?.tokens || 0;\n\nreturn [{\n  json: {\n    generatedText: generatedText,\n    usage: {\n      model: model,\n      tokens: totalTokens\n    }\n  }\n}];"
      },
      "id": "9c0d1e2f-3a4b-4c5d-6e7f-8a9b0c1d2e3f",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 180]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "0d1e2f3a-4b5c-4d6e-7f8a-9b0c1d2e3f4a",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 180]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Auth": {
      "main": [
        [
          {
            "node": "Auth Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Valid?": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 403",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Login Flux",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login Flux": {
      "main": [
        [
          {
            "node": "Build Chat Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chat Request": {
      "main": [
        [
          {
            "node": "Chat Completions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Completions": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "edificia-flux-v1",
  "meta": {
    "instanceId": "edificia",
    "templateCredsSetupCompleted": false
  },
  "tags": [
    { "name": "edificia" },
    { "name": "ai" },
    { "name": "flux" }
  ]
}
